@import url('../type/inter/inter.css');
@import url('../type/md-nichrome/md-nichrome.css');
@import url('../type/fira-code/fira-code.css');
@import url('../type/font-awesome/css/all.css');
@import url('open-color.css');

/* Colors */

:root {
	--background: var(--oc-gray-9);
	--background-secondary: var(--oc-gray-8);
	--background-tertiary: var(--oc-gray-7);
	--foreground: var(--oc-gray-1);
	--foreground-heavy: var(--oc-white);
}

*, *::before, *::after {
	box-sizing: border-box;
}

a:link, a:visited, a:hover, a:active {
	color: inherit !important;
}

html {
	font-family: 'Inter', sans-serif;
	font-feature-settings: "calt" 1;
	font-size: 1.2em;
	background: var(--background);
	color: var(--foreground);
	height: 100%;
}

* {
	transition: background .1s;
}

body {
	margin: 0;
	padding: 0;
}

@supports (font-variation-settings: normal) {
	html {
		font-family: 'Inter var', sans-serif;
	}
}

/* Type */

.centered {
	text-align: center;
}

/* Flexbox */

.flex {
	display: flex;
	flex-wrap: wrap;
}

.box {
	flex-grow: 1;
	flex-basis: 15em;
	margin: 0 .5em .5em 0;
}

.fit {
	flex-basis: 1em;
}

.half   { flex-basis: calc(50% - (.5em * 2)); }
.third  { flex-basis: calc(33% - (.5em * 3)); }
.fourth { flex-basis: calc(25% - (.5em * 4)); }
.fifth  { flex-basis: calc(20% - (.5em * 5)); }

.clickable:hover {
	cursor: pointer;
}

main, header, footer {
	display: block;
	margin: auto;
	padding: 0 2em;
	max-width: 50em;
}

header nav {
	margin: 1em 0 5em 0;
	padding: 0;
	background: var(--background);
	font-size: 80%;
}

header nav .fa-long-arrow-alt-right {
	padding: 0 .7em 0 .1em;
	color: var(--foreground);
}

header, footer {
	padding-top: 2em;
}

footer {
	text-align: center;
	padding-bottom: 3em;
}

footer small {
	font-size: .8em;
}

footer small a {
	text-decoration: none;
}

footer li a:link, footer li a:visited {
	color: #333;
}

footer li a:hover, footer li a:active {
	color: #555;
}

footer .fab {
	font-size: 1.6em;
}

footer .site {
	font-size: 80%;
	margin: 1.5em 0 !important;
}

footer .site li {
	padding-right: .5em;
}

footer .site li a {
	text-decoration: none;
}

footer img {
	width: 4em;
	margin: 2em 0 1em 0;
}

/* Headings */

h1, h2, h3, h4, h5, h6 {
	margin: 2rem 0 1rem 0;
	font-weight: 500;
	color: var(--foreground-heavy);
}

h1 {
	font-weight: 700;
	margin-bottom: 2rem;
}

section h2 {
	margin: 1rem 0 2rem 0;
}

p, ul, li, div {
	line-height: 160%;
}

ul.horizontal {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

ul.horizontal li {
	display: inline;
}

.bulletless {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

hr {
	border: 0;
	height: 1px;
	background: var(--foreground);
	margin: 2em 0;
}

/* Sections */

section {
	border-left: .5em solid var(--background);
	padding-left: 1em;
	padding-top: .5em;
	padding-bottom: .5em;
	margin-left: -1.5em;
}

/* Blockquotes & Code */

.code, pre, code, .monospace {
	font-family: 'Fira Code';
}

pre {
	white-space: pre-wrap;
	word-break: break-word;
}

pre code {
	display: block;
	background: var(--background-tertiary);
	padding: .5em;
	border-radius: .2em;
}

/* Messages */

.message {
	display: flex;
	color: var(--foreground);
	margin: 1.5em 0;
	width: 100%;
	align-items: stretch;
	align-content: stretch;
}

.message-icon {
	background: var(--background-tertiary);
	align-self: stretch;
	padding: .5em;
	border-top-left-radius: .2em;
	border-bottom-left-radius: .2em;
}

.message-icon i {
	font-size: 1.5em;
	margin: .5em;
}

.message-text {
	flex-basis: 100%;
	margin: 0;
	padding: 1.25em;
	overflow: hidden;
	background: var(--background-secondary);
	align-self: stretch;
	border-top-right-radius: .2em;
	border-bottom-right-radius: .2em;
}

.confirmation .message-icon { background: var(--oc-green-5); color: var(--oc-black); }
.confirmation .message-text { background: var(--oc-green-3); color: var(--oc-black); }

.notice .message-icon { background: var(--oc-yellow-5); color: var(--oc-black); }
.notice .message-text { background: var(--oc-yellow-3); color: var(--oc-black); }

.warning .message-icon { background: var(--oc-orange-5); color: var(--oc-black); }
.warning .message-text { background: var(--oc-orange-3); color: var(--oc-black); }

.alert .message-icon { background: var(--oc-red-5); color: var(--oc-black); }
.alert .message-text { background: var(--oc-red-3); color: var(--oc-black); }

/* Nav */

nav {
	width: 100%;
	padding: .5em 1em;
	border-radius: 0.2em;
	margin: 2em 0;
	background: var(--background-secondary);
}

nav a:link, nav a:visited {
	text-decoration: none;
}

nav a:hover, nav a:active {
	text-decoration: none;
}

nav li {
	margin-right: .5em;
}

.smaller {
	font-size: 90%;
}

.even-smaller {
	font-size: 80%;
}

.larger {
	font-size: 120%;
}

.even-larger {
	font-size: 130%;
}

.border-solid {
	border: 1px solid #888;
	border-radius: .2em;
}

.border-dashed {
	border: 1px dashed #888;
	border-radius: .2em;
}

.border-dotted {
	border: 1px dotted #888;
	border-radius: .2em;
}

/* Forms */

.required:before {
	content: "REQUIRED";
	font-size: 60%;
	/*background: #e75757;*/
	color: #fff;
	padding: .25em .5em;
	border-radius: .25em;
	margin: 0 0 0 .5em;
}

.form_note {
	padding: .5em 1em;
	margin-top: 2em;
	border-radius: .2em;
}

fieldset {
	margin: 1.5em 0;
	padding: 1em;
	border: 0;
	background: var(--background-secondary);
	color: var(--foreground);
	border-radius: .2em;
}

legend {
	padding: .7em 1em 2.5em .85em;
	margin: 0 0 -2.5em -.85em;
	font-weight: 700;
	font-size: 120%;
	background: var(--background-secondary);
	color: var(--foereground);
	border-radius: .2em;
}

input, button, select, option, textarea {
	font-family: inherit;
	font-size: inherit;
	background: var(--background);
	color: var(--foreground);
	padding: .5em;
	border-radius: .2em;
}

button, select, option {
	cursor: pointer;
}

input, select, option, textarea {
	border: 1px solid #999;
}

textarea {
	width: 100%;
}

select {
	-webkit-appearance: none;
}

label {
	cursor: pointer;
	display: block;
	margin: 1em 0 .5em 0;
	font-weight: 600;
}

.label {
	cursor: pointer;
	margin: .4em 0 .4em 0;;
}

.radio label,
.checkbox label {
	display: inline;
	margin: 0;
}

.group {
	margin-bottom: 1em;
}

button, .button, input[type="submit"] {
	border: 0;
	padding: .5em 1em;
	cursor: pointer;
	border-radius: .2em;
	background: var(--oc-blue-7);
	color: var(--oc-white);
}

button:hover, .button:hover, input[type="submit"]:hover {
	background: var(--oc-blue-7) !important;
	color: var(--oc-white) !important;
}

input[type="text"], input[type="password"], select {
	width: 95%;
	margin-bottom: .5em;
}

button:hover,
button:focus {
	opacity: .85;
}

button:active {
	transform: scale(0.97);
	transition: transform 0.1s ease-in-out;
}

form {
	width: 100%;
}

.form-reset {
	margin: 0;
}

form aside {
	margin: .2em 0 2em 0;
	font-size: 80%;
}

aside {
	float: right;
}

aside nav {
	margin: 0 0 1em 1em;
	padding: .3em .2em;
}

.heading-aligned {
	margin-top: -4em;
}

/* Toggle Switch */

.outer {
	display: block;
}

.switch {
	--line: #ccc;
	--dot: var(--oc-violet-4);
	--circle: var(--oc-yellow-3);
	--background: #aaa;
	--duration: .3s;
	--text: #000;
	--shadow: 0 1px 3px rgba(0, 9, 61, 0.08);
	cursor: pointer;
	position: relative;
}
.switch:before {
	content: '';
	width: 60px;
	height: 32px;
	border-radius: 16px;
	background: var(--background);
	position: absolute;
	left: 0;
	top: 0;
	box-shadow: var(--shadow);
}
.switch input {
	display: none;
}
.switch input + .outer {
	position: relative;
}
.switch input + .outer:before, .switch input + .outer:after {
	--s: 1;
	content: '';
	position: absolute;
	height: 4px;
	top: 14px;
	width: 24px;
	background: var(--line);
	-webkit-transform: scaleX(var(--s));
	transform: scaleX(var(--s));
	-webkit-transition: -webkit-transform var(--duration) ease;
	transition: -webkit-transform var(--duration) ease;
	transition: transform var(--duration) ease;
	transition: transform var(--duration) ease, -webkit-transform var(--duration) ease;
}
.switch input + .outer:before {
	--s: 0;
	left: 4px;
	-webkit-transform-origin: 0 50%;
	transform-origin: 0 50%;
	border-radius: 2px 0 0 2px;
}
.switch input + .outer:after {
	left: 32px;
	-webkit-transform-origin: 100% 50%;
	transform-origin: 100% 50%;
	border-radius: 0 2px 2px 0;
}
.switch input + .outer .inner {
	padding-left: 60px;
	line-height: 28px;
	color: var(--text);
}
.switch input + .outer .inner:before {
	--x: 0;
	--b: var(--circle);
	--s: 15px;
	content: '';
	position: absolute;
	left: 4px;
	top: 4px;
	width: 24px;
	height: 24px;
	border-radius: 50%;
	box-shadow: inset 0 0 0 var(--s) var(--b);
	-webkit-transform: translateX(var(--x));
	transform: translateX(var(--x));
	-webkit-transition: box-shadow var(--duration) ease, -webkit-transform var(--duration) ease;
	transition: box-shadow var(--duration) ease, -webkit-transform var(--duration) ease;
	transition: box-shadow var(--duration) ease, transform var(--duration) ease;
	transition: box-shadow var(--duration) ease, transform var(--duration) ease, -webkit-transform var(--duration) ease;
}
	.switch input + .outer .inner:not(:empty) {
	padding-left: 68px;
}
.switch input:checked + .outer:before {
	--s: 1;
}
.switch input:checked + .outer:after {
	--s: 0;
}
.switch input:checked + .outer .inner:before {
	--x: 28px;
	--s: 12px;
	--b: var(--dot);
}

body .switch + .switch {
	margin-top: 32px;
}

/* Checkboxes */

input[type=checkbox] { display: none; }
input[type=checkbox] + label:before {
	font-family: 'Font Awesome 6 Pro';
	display: inline-block;
	width: 1.3em;
}
input[type=checkbox] + label:before { content: "\f0c8"; }
input[type=checkbox]:checked + label:before { content: "\f14a"; }

/* Radio Buttons */

input[type=radio] { display: none; }
input[type=radio] + label:before {
	font-family: 'Font Awesome 6 Pro';
	display: inline-block;
	width: 1.3em;
}
input[type=radio] + label:before { content: "\f111"; }
input[type=radio]:checked + label:before { content: "\f192"; }

/* Tables */

.table-container {
	overflow-x: auto;
}

table {
	border-collapse: collapse;
	width: 100%;
}

th, td {
	background: var(--background);
	padding: .5em;
	font-feature-settings: 'tnum';
}

.financial {
	text-align: right;
}

th {
	text-align: left;
	border-bottom: 1px solid var(--foreground);
}

td {
	border-bottom: 1px solid var(--oc-gray-6);
}

/*
tr:nth-child(even) td {
	background: var(--background-secondary);
}
*/

th:first-child { border-top-left-radius: 0.2em; }
th:last-child { border-top-right-radius: 0.2em; }
tr:last-child td:first-child { border-bottom-left-radius: 0.2em; }
tr:last-child td:last-child { border-bottom-right-radius: 0.2em; }

/* Selection */

::selection {
	color: var(--oc-gray-1);
	background: var(--oc-gray-9);
}

/* Responsiveness */

@media (max-width: 900px) {
	html {
		font-size: 1.05em;
	}
	main, header, footer {
		padding: 0 1.5em;
	}
	header {
		padding-top: 2em;
	}
	header nav {
		margin: .5 0 3em 0;
	}
	footer {
		padding-top: 2em;
		padding-bottom: 3em;
	}
}

@media (max-width: 500px) {
	html {
		font-size: 1em;
	}
	main, header, footer {
		padding: 0 1em;
	}
	header {
		padding-top: 2em;
	}
	header nav {
		margin: 0 0 2em 0;
	}
	footer {
		padding-top: 2em;
		padding-bottom: 3em;
	}
}
