@font-face {
	font-family: "MD Nichrome";
	font-style: normal;
	font-weight: 700;
	src: url("MDNichrome0.7-Ultra.woff2") format("woff2");
}

@font-face {
	font-family: "MD Nichrome";
	font-style: normal;
	font-weight: 600;
	src: url("MDNichrome0.7-Black.woff2") format("woff2");
}

@font-face {
	font-family: "MD Nichrome";
	font-style: normal;
	font-weight: 500;
	src: url("MDNichrome0.7-Bold.woff2") format("woff2");
}

@font-face {
	font-family: "MD Nichrome";
	font-style: normal;
	font-weight: 500;
	src: url("MDNichrome0.7-Dark.woff2") format("woff2");
}

@font-face {
	font-family: "MD Nichrome";
	font-style: normal;
	font-weight: 400;
	src: url("MDNichrome0.7-Regular.woff2") format("woff2");
}

@font-face {
	font-family: "MD Nichrome";
	font-style: normal;
	font-weight: 300;
	src: url("MDNichrome0.7-Light.woff2") format("woff2");
}

@font-face {
	font-family: "MD Nichrome";
	font-style: normal;
	font-weight: 200;
	src: url("MDNichrome0.7-Thin.woff2") format("woff2");
}

@font-face {
	font-family: "MD Nichrome";
	font-style: normal;
	font-weight: 100;
	src: url("MDNichrome0.7-Infra.woff2") format("woff2");
}